@model CGA.MetrologySystem.Domain.Entities.Equipo

@{
    ViewData["Title"] = "Eliminar Equipo";
}

<h2>Eliminar Equipo</h2>

<h4>¿Estás seguro de que deseas eliminar este equipo?</h4>

<div>
    <dl class="row">
        <dt class="col-sm-3">Código</dt>
        <dd class="col-sm-9">@Model.Codigo</dd>

        <dt class="col-sm-3">Nombre</dt>
        <dd class="col-sm-9">@Model.Nombre</dd>

        <dt class="col-sm-3">Tipo de equipo</dt>
        <dd class="col-sm-9">@Model.TipoEquipo?.Nombre</dd>

        <dt class="col-sm-3">Proveedor</dt>
        <dd class="col-sm-9">@Model.Proveedor?.Nombre</dd>

        <dt class="col-sm-3">Ubicación</dt>
        <dd class="col-sm-9">@Model.Ubicacion?.Nombre</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="EquipoId" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>